@import '../../styles/constants.scss';

.sort-button {
  height: 38px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
    0px 1px 5px rgba(191, 196, 201, 0.24);
  border-radius: 20px;
  border: none;
  background-color: $color-white;
  color: $color-grey-black-40;
  @media (max-width: 320px) {
    height: 32px;
    width: 32px;
    span {
        display: none;
    }
    padding: 8px;
  }
}
