@import '../../styles/constants.scss';

.header {
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1110px;
    margin: 35px auto;
    height: 58px;
    padding-top: 12px;
    padding-bottom: 15px;
    @media (max-width: 768px) {
      margin: 25px auto;
      height: 70px;
    }
    @media (max-width: 768px) {
      margin: 10px auto;
      height: 70px;
    }

    .header-wrapper {
      display: flex;
      align-items: center;
    .logo {
        padding-right: 120px;
    }
      @media (max-width: 768px) {
        column-gap: 0px;
        .logo {
          display: none;
        }
      }
      .header-title {
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 2px;
        color: $color-dark;
        @media (max-width: 320px) {
          font-size: 18px;
          line-height: 28px;
          letter-spacing: 0.1px;
        }
      }
    }
    .profile-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      column-gap: 16px;
      height: 58px;
      width: 300px;
      @media (max-width: 768px) {
        display: none;
      }
      .subtitle {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        text-align: right;
        letter-spacing: 0.1px;
        color: $color-dark;
      }
    }
  }
  @media (max-width: 768px) {
    max-width: 768px;
    padding-left: 64px;
  }
  @media (max-width: 320px) {
    max-width: 320px;
    padding-left: 18px;
    height: 76px;
    padding-top: 0px;
  }
}
